.footer{
  background-color: $secondsary;

  margin-top: 8rem;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);

  .link-row{
    max-width: 50rem;
    margin: auto;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    > a{
      margin: 1rem;
    }
  }
}