#gallery{
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;

}

.gallery-entry{
  margin-top: 5rem;
}

.img-list{
  img{
    width: 100%;
    height: auto;
    margin: 1rem 0;
    box-sizing: border-box;

  }
}

.preview-entry{
  width: 19rem;
  margin: 0.5rem;
  transition: background-color 1s;
  background-color: transparent;

  h3{
    padding-left: 1.1rem;
  }

  img{
    width: 16.5rem;
    height: 10rem;
    object-fit: cover;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
  }
  &:hover{
    background-color: $primary;
    cursor: pointer;
  }

  .preview-img-list{
    display: flex;
    justify-content: space-around;
    margin-bottom: 1.5rem;
  }


}

.gallery-back-button{
  display: flex;
  align-items: center;
  cursor: pointer;
  > i{
    margin-right: 1rem;
  }
}


.back-to-top{
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background-color: $secondsary;
  border-radius: 10rem;
  padding: 1rem;
  font-size: 2rem;
  color: white;
  transition: opacity 400ms;
  opacity: 0;
  &.show{
    opacity: 1;
  }
}