.header{
  background: url("img/Bild001.jpg") no-repeat;
  box-shadow: 0px -2px 8px 4px rgba(0,0,0,0.75);
  background-size:cover;
  background-position: center;
  position: relative;

  &:before{
    content: ' ';
    width: 100%;
    height: 100%;
    background: black;
    position: absolute;
    z-index: 0;
    top: 0;
    opacity: 0.5;
  }





  a{
    text-decoration: none;
  }

}


.nav{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  font-size: 1.5rem;

  h4{
    padding: 6rem 2rem;
  }

  img{
    padding: 1rem;
  }
}

.nav-item{
  transition: background-color 1s;
  max-height: 12rem;
  color: white;

}



.nav-item:hover{
  background-color: $secondsary;
}

.menu-icon{
  display: none;
}
.hiddenMenu{
  display: none;
  position: absolute;
  top: 3rem;
  width: 100%;
  a{
    text-align: center;
    color: white;
    text-decoration: none;
    margin-top: 3rem;
    transition: opacity 3000ms;
    opacity: 0;
  }

}

@media screen and (max-width: 800px) {
  h1{
    font-size: 2rem;
  }
  .nav a:not(:nth-child(3)) {display: none;}
  .nav a.menu-icon {
    display: block;
    margin-left: auto;
    margin-right: 2rem;
    margin-top: 1.5rem;
  }
  a:link{
    text-decoration: none;
    color: black;
  }
  .open{
    .nav{
      height: 26rem;
      h4{
        padding: 0;
      }
    }
    .hiddenMenu{
      display: block;
      a{
        display: block;
        opacity: 1;
      }
    }
  }
  .nav {
    width: 100%;
    justify-content: flex-start;
    align-items: baseline;
    height: 5rem;
    transition: height 200ms;

    .nav-item{ padding: 0;
      height: 6rem;
      margin-left: 1rem;}
    img{
      height: 6rem;
      position: absolute;
      top: 1rem;
      box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.75);
      border-radius: 99px;
    }
  }
  .menu-icon{
    display: block;
  }

  .header{
    background: $primary;
    &:before{
      opacity: 0;
    }
  }
}

@media screen and (max-width: 800px) {
  .nav.responsive {position: relative;}
  .nav.responsive .menu-icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}