@import "colors";

:root{
  font-size: 16px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

body{
  margin: auto;
  padding: 0;
  &::-webkit-scrollbar{
    width: 0.25rem;
  }

  &::-webkit-scrollbar-track{
    background: #222222;
  }

  &::-webkit-scrollbar-thumb{
    background: $secondsary;
  }
}



.main{
  max-width: 62rem;
  margin: auto;
  padding: 40px;
  .greeter{
    margin: 5rem auto;
    width: 100%;
    text-align: center;

    h1{
      font-size: 3rem;
    }
  }
}

.announcement{
  border-radius: 2px;
  background-color: $primary;
  padding: 3rem;
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
}



@import "header";
@import "footer";
@import "gallery";
@import "chronik";
@import "events";