:root {
  font-size: 16px;
  font-family: Verdana, Arial, Helvetica, sans-serif; }

body {
  margin: auto;
  padding: 0; }
  body::-webkit-scrollbar {
    width: 0.25rem; }
  body::-webkit-scrollbar-track {
    background: #222222; }
  body::-webkit-scrollbar-thumb {
    background: #0276b9; }

.main {
  max-width: 62rem;
  margin: auto;
  padding: 40px; }
  .main .greeter {
    margin: 5rem auto;
    width: 100%;
    text-align: center; }
    .main .greeter h1 {
      font-size: 3rem; }

.announcement {
  border-radius: 2px;
  background-color: #89a342;
  padding: 3rem;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.75); }

.header {
  background: url("img/Bild001.jpg") no-repeat;
  box-shadow: 0px -2px 8px 4px rgba(0, 0, 0, 0.75);
  background-size: cover;
  background-position: center;
  position: relative; }
  .header:before {
    content: ' ';
    width: 100%;
    height: 100%;
    background: black;
    position: absolute;
    z-index: 0;
    top: 0;
    opacity: 0.5; }
  .header a {
    text-decoration: none; }

.nav {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  font-size: 1.5rem; }
  .nav h4 {
    padding: 6rem 2rem; }
  .nav img {
    padding: 1rem; }

.nav-item {
  transition: background-color 1s;
  max-height: 12rem;
  color: white; }

.nav-item:hover {
  background-color: #0276b9; }

.menu-icon {
  display: none; }

.hiddenMenu {
  display: none;
  position: absolute;
  top: 3rem;
  width: 100%; }
  .hiddenMenu a {
    text-align: center;
    color: white;
    text-decoration: none;
    margin-top: 3rem;
    transition: opacity 3000ms;
    opacity: 0; }

@media screen and (max-width: 800px) {
  h1 {
    font-size: 2rem; }
  .nav a:not(:nth-child(3)) {
    display: none; }
  .nav a.menu-icon {
    display: block;
    margin-left: auto;
    margin-right: 2rem;
    margin-top: 1.5rem; }
  a:link {
    text-decoration: none;
    color: black; }
  .open .nav {
    height: 26rem; }
    .open .nav h4 {
      padding: 0; }
  .open .hiddenMenu {
    display: block; }
    .open .hiddenMenu a {
      display: block;
      opacity: 1; }
  .nav {
    width: 100%;
    justify-content: flex-start;
    align-items: baseline;
    height: 5rem;
    transition: height 200ms; }
    .nav .nav-item {
      padding: 0;
      height: 6rem;
      margin-left: 1rem; }
    .nav img {
      height: 6rem;
      position: absolute;
      top: 1rem;
      box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.75);
      border-radius: 99px; }
  .menu-icon {
    display: block; }
  .header {
    background: #89a342; }
    .header:before {
      opacity: 0; } }

@media screen and (max-width: 800px) {
  .nav.responsive {
    position: relative; }
  .nav.responsive .menu-icon {
    position: absolute;
    right: 0;
    top: 0; }
  .nav.responsive a {
    float: none;
    display: block;
    text-align: left; } }

.footer {
  background-color: #0276b9;
  margin-top: 8rem;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75); }
  .footer .link-row {
    max-width: 50rem;
    margin: auto;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; }
    .footer .link-row > a {
      margin: 1rem; }

#gallery {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center; }

.gallery-entry {
  margin-top: 5rem; }

.img-list img {
  width: 100%;
  height: auto;
  margin: 1rem 0;
  box-sizing: border-box; }

.preview-entry {
  width: 19rem;
  margin: 0.5rem;
  transition: background-color 1s;
  background-color: transparent; }
  .preview-entry h3 {
    padding-left: 1.1rem; }
  .preview-entry img {
    width: 16.5rem;
    height: 10rem;
    object-fit: cover;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75); }
  .preview-entry:hover {
    background-color: #89a342;
    cursor: pointer; }
  .preview-entry .preview-img-list {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1.5rem; }

.gallery-back-button {
  display: flex;
  align-items: center;
  cursor: pointer; }
  .gallery-back-button > i {
    margin-right: 1rem; }

.back-to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background-color: #0276b9;
  border-radius: 10rem;
  padding: 1rem;
  font-size: 2rem;
  color: white;
  transition: opacity 400ms;
  opacity: 0; }
  .back-to-top.show {
    opacity: 1; }

.memberpicture {
  margin-top: 5rem; }
  .memberpicture img {
    width: 100%;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5); }

.events {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .events .event-item {
    margin: 1rem 0; }
