body{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 16px;
    max-width: 50rem;
    margin: auto;
}

h1 {
    color: #562222;
}

.header{
    background-color: #7ed774;

    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.75);
}

.nav{
    display: flex;
    justify-content: center;
}

.nav-item{
    margin: 0;
    padding: 2rem;
    transition: background-color 0.5s;
}
.nav-item:hover{
    background-color: rgb(91, 202, 87);
}